[submodule "vim/pack/bmo/start/vim-gitgutter"]
	path = vim/pack/bmo/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/bmo/start/nerdtree"]
	path = vim/pack/bmo/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/bmo/start/spelunker.vim"]
	path = vim/pack/bmo/start/spelunker.vim
	url = https://github.com/kamykn/spelunker.vim.git
[submodule "vim/pack/bmo/start/molokai"]
	path = vim/pack/bmo/start/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "vim/pack/bmo/start/perldoc-vim"]
	path = vim/pack/bmo/start/perldoc-vim
	url = git@github.com:hotchpotch/perldoc-vim
[submodule "vim/pack/bmo/start/vim-javascript-syntax"]
	path = vim/pack/bmo/start/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "vim/pack/bmo/start/vim-colorschemes"]
	path = vim/pack/bmo/start/vim-colorschemes
	url = git@github.com:EvitanRelta/vim-colorschemes.git
